# I/O results w/ screenshots

## Initials

![Initials_1][Initials_1]

![Initials_2][Initials_2]

## Numbers

![Initials_1][Numbers_1]

![Initials_2][Numbers_2]

## Restaurant Bill

![Initials_1][Restaurant_1]

![Initials_2][Restaurant_2]

[Initials_1]: ./test_screenshots/Initials_1.png
[Initials_2]: ./test_screenshots/Initials_2.png
[Numbers_1]: ./test_screenshots/Numbers_1.png
[Numbers_2]: ./test_screenshots/Numbers_2.png
[Restaurant_1]: ./test_screenshots/Restaurant_1.png
[Restaurant_2]: ./test_screenshots/Restaurant_2.png
